<?xml version="1.0"?>
<launch>

    <include file="$(find braccio_challenge)/launch/empty_world.launch" />
    
    <node name="urdf_spawner_cube3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube3 -x 0.17 -y -0.098 -z 0.1 -Y 1.4 -param cube3"/>      
    <node name="urdf_spawner_basket1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model basket1 -x 0.2 -y 0.2 -z 0.075   -param basket1"/>  
    
</launch>
