<?xml version="1.0"?>
<launch>

    <include file="$(find braccio_arm_gazebo)/launch/braccio_empty_world.launch" /> 
    
    
    <param name="cube1" command="$(find xacro)/xacro.py '$(find braccio_arm_gazebo)/urdf/cube1.xacro'" />
    <node name="urdf_spawner_cube1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube1 -x 0.3 -y 0.1 -z 0.5 -Y 0.8 -param cube1"/>  

    <param name="cube2" command="$(find xacro)/xacro.py '$(find braccio_arm_gazebo)/urdf/cube2.xacro'" />
    <node name="urdf_spawner_cube2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube2 -x 0.3 -y 0.1 -z 0.35 -Y 0.9  -param cube2"/>  

    <param name="cube3" command="$(find xacro)/xacro.py '$(find braccio_arm_gazebo)/urdf/cube3.xacro'" />
    <node name="urdf_spawner_cube3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube3 -x 0.3 -y 0.1 -z 0.1 -Y 0.9  -param cube3"/>  


    <param name="cube11" command="$(find xacro)/xacro.py '$(find braccio_arm_gazebo)/urdf/cube11.xacro'" />
    <node name="urdf_spawner_cube11" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube11 -x -0.3 -y 0.1 -z 0.5 -Y 0.4 -param cube11"/>   

    <param name="cube12" command="$(find xacro)/xacro.py '$(find braccio_arm_gazebo)/urdf/cube12.xacro'" />
    <node name="urdf_spawner_cube12" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube12 -x -0.3 -y 0.1 -z 0.35 -Y 0.4 -param cube12"/>   
    
    <param name="cube13" command="$(find xacro)/xacro.py '$(find braccio_arm_gazebo)/urdf/cube13.xacro'" />
    <node name="urdf_spawner_cube13" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube13 -x -0.3 -y 0.1 -z 0.1 -Y 0.3 -param cube13"/>   
    
</launch>
