<?xml version="1.0"?>
<launch>

    <include file="$(find braccio_challenge)/launch/empty_world.launch" />
    
    <node name="urdf_spawner_cube1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube1 -x -0.3 -y -0.2 -z 0.1 -Y 0.8 -param cube1"/>  
    <node name="urdf_spawner_cube2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube2 -x -0.2 -y 0.25 -z 0.1 -Y 0.6 -param cube2"/>  
    <node name="urdf_spawner_cube3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube3 -x 0.25 -y -0.2 -z 0.1 -Y 0.4 -param cube3"/>      
    <node name="urdf_spawner_basket1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model basket1 -x 0.2 -y 0.2 -z 0.075   -param basket1"/>  
    
</launch>
