<?xml version="4.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <include filename="$(find braccio_challenge)/urdf/basket.xacro" />
    <link name="world"/>

    <joint name="fixed" type="fixed">
            <origin xyz="0 0 0.01" rpy="0 0 0"/>
            <parent link="world"/>
            <child link="my_box"/>
    </joint>       
    <link name="my_box">
        <aruco_basket t1="5" t2="6" t3="7" t4="8"  l="0.1" w="0.1" h="0.1" dim_marker="0.05" m="0.05"/>
    </link>
    <gazebo reference="my_box">
    <mu1>100.0</mu1>
    <mu2>100.0</mu2>
    <minDepth>0.003</minDepth>  
    <maxVel>0</maxVel>  
    </gazebo>    
</robot>
